.imgBanner{
    height: 100vh;
    background-color: black;
    
    img{
         background-color: cadetblue;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    }
   
}