@import "../styles/colors.scss";

.containerCard {
    margin: 1rem 0;
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 20px;
    background: $white;
    /*  box-shadow: 1px 1px 30px #bebebe,
        -4px -4px 1px #ffffff; */

    .cardImg {

        overflow: hidden;
        display: grid;
        place-items: center;
        border-radius: 20px;
    }

    .cardBody {
        padding: 1rem;
        color: $backgroundBlue;

        h5 {
            margin-bottom: .8rem;
        }

        p {
            opacity: .5;
            margin: 1rem 0;
        }
    }

}