@import "../styles/colors.scss";

.containerCertificated {
    padding: 4rem 1rem;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 1rem;
        width: 1px;
        height: 7%;
        background: linear-gradient($green, $green 10%, $pink 50%, $pink 20%, $white);
    }

    &::before {
        content: "";
        position: absolute;
        top: 28vh;
        left: 1rem;
        width: 1px;
        height: 100%;
        background: linear-gradient($white, $pink 40%, #f38f8a 20%, $pink 80%, $pink);
    }

    .containerSlider {
        position: relative;
        overflow: hidden;
        padding: 3rem 1rem;

    }

    .containerTitle {
        position: relative;

        h1 {
            font-size: 2.3rem;
            color: $backgroundBlue;
            margin-bottom: 1.2rem;
        }

        i {
            position: absolute;
            left: -2.1rem;
            top: .5rem;
            font-size: 1.5rem;
            color: $pink;

        }
    }
}





@media only screen and (min-width: 48em) {
    .containerCertificated {


        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 3%;
            width: 1px;
            height: 7%;

        }

        &::before {
            content: "";
            position: absolute;
            top: 28vh;
            left: 3%;
            width: 1px;
            height: 100%;

        }
    }
}

@media only screen and (min-width: 62em) {
    .containerCertificated {
        .containerTitle {
            h1 {
                margin-bottom: 4rem;
                font-size: 5rem;
                color: $backgroundBlue;
            }

            i {
                left: -10%;
                font-size: 2rem;
                top: 0;
                transform: translateY(60%);
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 5%;
            width: 3px;
            height: 7%;

        }

        &::before {
            content: "";
            position: absolute;
            top: 28vh;
            left: 5%;
            width: 3px;
            height: 100%;

        }
    }
}

@media only screen and (min-width: 75em) {
    .containerCertificated {

        padding: 4rem 0;

        .containerTitle {
            h1 {
                margin-bottom: 4rem;
                font-size: 5rem;
                color: $backgroundBlue;
            }

            i {
                left: -8%;
                font-size: 2rem;
                top: 0;
                transform: translateY(60%);
            }
        }
    }

}